<!DOCTYPE html>
<html lang='ch'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='init-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no'>
        <meta name='description' content='时光盛典'>
        <title>时光盛典邀请函</title>
        <link rel='stylesheet' href='web/css/idangerous.swiper.css' />
        <style>
            html, body { padding: 0; }
            body { margin: 0 auto; max-width: 480px; font-family: '黑体'; overflow: hidden; }
            img { border: none; }
            ul, li { list-style-type: none; margin: 0; padding: 0; }
            a { text-decoration: none; color: #555; }
            a[href^='http://tongji.baidu.com'] { display: none; }
            #container { width: 100%; position: relative; overflow: hidden; }
            .swiper-container { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
            
            .unselectable {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -o-user-select: none;
                user-select: none;
            }
            .centerwrapper { position: relative; width: 100%; text-align: center; }
            #btnsound { display: none; width: 27px; height: 27px; position: absolute; top: 20px; right: 20px; z-index: 12; border: none; }
            #btnsound img { width: 100%; }
            #btnsound .img-pause { display: none; }
            #btnsound.play .img-pause { display: block; }
            #btnsound.play .img-play { display: none; }
            iframe { width: 100%; height: 100%; border: none; padding: 0; margin: 0; }
            
            .indexpage {
                position: absolute; width: 100%; height: 100%; z-index: 5;
                background: transparent url('web/images/indexbg.jpg') no-repeat top center;
                background-size: cover;
            }
            .indexpage .logo { display: none; width: 180px; height: 180px; margin-top: 40px; }
            .indexpage .box { display: block; position: absolute; top: 0px; width: 100%; }
            .indexpage .tapopen { display: block; position: absolute; z-index: 10; top: 320px; width: 100%; height: 200px; }
            .topleaf { display: none; position: absolute; z-index: 10; top: 0px; }
            .topleaf.left {  left: 0px; width: 128px; }
            .topleaf.right { right: 0px; width: 165px; }
            @media all and (max-height: 420px) {
                .indexpage { background-position: center -40px; }
                .indexpage .logo { margin-top: 20px; }
                .indexpage .box { top: -56px; }
            }
        </style>
    </head>
    <body>
        
        <div style="display:none;">
            <audio id="sfx-bgm" preload="auto" loop="loop">
                <source src="web/audio/bgm.mp3" type="audio/mpeg">
                <source src="web/audio/bgm.ogg" type="audio/ogg">
            </audio>
        </div>
        
        <div id='container'>
            <a id='btnsound' class='play' href='javascript:;'>
                <img class='img-play' src='web/images/btnsoundplay.png' />
                <img class='img-pause' src='web/images/btnsoundpause.png' />
            </a>
            
            <img class='unselectable topleaf left' src='web/images/topleftleaf.png' />
            <img class='unselectable topleaf right' src='web/images/toprightleaf.png' />
            
            <div class='indexpage'>
                <div class='centerwrapper'><img class='logo' src='web/images/logo.png' /></div>
                <img class='box unselectable' src='web/images/boxv2.png' />
                <a class='tapopen unselectable' href='#'></a>
            </div>
            
            <iframe id='appfr' src='index.php'></iframe>
        </div>
        
        <script src='web/js/jquery-1.10.1.min.js'></script>
        <script src='web/js/velocity.min.js'></script>
        <script src='web/js/velocity.ui.min.js'></script>        
        <script>
            var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
            var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
            $('#container, iframe').css('height', h + 'px');
            
            var lineLink = 'http://neone.com.cn/sntime';
            var imgUrl = 'http://kail-common.b0.upaiyun.com/sntimeshare.jpg';
            var shareTitle = '2014苏宁易购时光盛典邀请函';
            var appid = '';
            var descContent = '2014苏宁易购时光盛典，一起来开启时光记忆！';
            
            function shareFriend() {
                WeixinJSBridge.invoke('sendAppMessage',{
                    "appid": appid,
                    "img_url": imgUrl,
                    "img_width": "80",
                    "img_height": "80",
                    "link": lineLink,
                    "desc": descContent,
                    "title": shareTitle
                }, function(res) {
                    //_report('send_msg', res.err_msg);
                })
            }
            function shareTimeline() {
                WeixinJSBridge.invoke('shareTimeline',{
                    "img_url": imgUrl,
                    "img_width": "80",
                    "img_height": "80",
                    "link": lineLink,
                    "desc": descContent,
                    "content": descContent,
                    "title": descContent
                }, function(res) {
                    //_report('timeline', res.err_msg);
                });
            }
            function shareWeibo() {
                WeixinJSBridge.invoke('shareWeibo',{
                    "img_url": imgUrl,
                    "img_width": "80",
                    "img_height": "80",
                    "content": descContent,
                    "title": shareTitle,
                    "url": lineLink,
                }, function(res) {
                    //_report('weibo', res.err_msg);
                });
            }
            
            window.addEventListener('message', function(event) {
                var rankArr = event.data.split('-');
                if (rankArr[0] == 'rank') {
                    descContent = '2014苏宁易购时光盛典，我是第' + rankArr[1] + '位参与者，一起来开启时光记忆！';
                }
            }, false);
            
            $(function(){
                $('.indexpage .logo').velocity('transition.expandIn', { duration: 1000, delay: 500 });
                $('.topleaf.left').velocity('transition.slideLeftIn');
                $('.topleaf.right').velocity('transition.slideRightIn');
                setInterval(function(){
                    $('.indexpage .box').velocity('callout.shake');
                }, 3000);
                $('.indexpage .tapopen').click(function(e){
                    e.preventDefault();
                    
                    $('.indexpage').velocity('fadeOut');
                    var frame = document.getElementById('appfr').contentWindow;
                    frame.postMessage('start', 'http://neone.com.cn/');
                    
                    document.getElementById('sfx-bgm').play();
                    $('#btnsound').show();
                });
                
                $('#btnsound').click(function(e){
                    $(this).toggleClass('play');
                    if ($(this).hasClass('play')) {
                        document.getElementById('sfx-bgm').play();
                    } else {
                        document.getElementById('sfx-bgm').pause();
                    }
                });
            });
            
            function onBridgeReady(){
                WeixinJSBridge.call('showOptionMenu');
                WeixinJSBridge.call('hideToolbar');
            }

            if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
                    document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                }
            }else{
                onBridgeReady();
            }
            
            // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
            document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
                // 发送给好友
                WeixinJSBridge.on('menu:share:appmessage', function(argv){
                    shareFriend();
                });
                // 分享到朋友圈
                WeixinJSBridge.on('menu:share:timeline', function(argv){
                    shareTimeline();
                });
                // 分享到微博
                WeixinJSBridge.on('menu:share:weibo', function(argv){
                    shareWeibo();
                });
            }, false);
        </script>
    </body>
</html>