<!DOCTYPE html>
<html lang='ch'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='init-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no'>
        <meta name='description' content='时光盛典'>
        <title>领取时光快递盒</title>
        <link rel="stylesheet" href="web/css/sweet-alert.css" />
        <style>
            html, body { padding: 0; }
            body { margin: 0 auto; max-width: 480px; font-family: '黑体'; }
            img { border: none; }
            ul, li { list-style-type: none; margin: 0; padding: 0; }
            a { text-decoration: none; color: #555; }
            a[href^='http://tongji.baidu.com'] { display: none; }
            #container { width: 100%; position: relative; }
            button { -webkit-appearance: none; background: none; padding: 0; outline-style:none; border: none; font-size: 0px; }
            .form {
                position: relative; width: 100%; height: 100%;
                background: transparent url('web/images/formbg.jpg') no-repeat top center;
                background-size: cover; box-sizing: border-box;
                padding-top: 260px; text-align: center;
            }
            .form input { position: absolute; border: none; text-align: center; box-sizing: border-box; padding: 2px 0; background: transparent; -webkit-appearance: none; }
            .form input[name="name"] { top: 22px; left: 104px; width: 110px; }
            .form input[name="mobile"] { top: 80px; left: 102px; width: 114px; }
            .form input[name="addr"] { top: 136px; left: 66px; width: 190px; }
            form {
                position: relative;
                width: 320px; height: 164px; text-align: center; margin: 0 auto;
                background: transparent url('web/images/form.png') no-repeat top center;
                background-size: cover;
            }
            .btnsubmit {
                position: absolute; bottom: -60px; width: 117px; height: 49px; left: 102px;
                background: transparent url('web/images/form/btnsubmit.png') no-repeat top center;
                background-size: cover;
            }
            @media all and (max-width: 320px) {
                .form { padding-top: 220px; background-position: center -16px; }
            }            
            @media all and (max-height: 420px) {
                .form { padding-top: 192px; background-position: center -36px; }
            }
        </style>
    </head>
    <body>
        
        <div id='container'>
            <div class='form'>
                <form action='getbox.php' method='POST'>
                    <input type='text' id="name" name='name' />
                    <input type='tel' id="phone" name='mobile' />
                    <input type='text' id="addr" name='addr' />
                    
                    <button class='btnsubmit' type='submit' name="submit" value="1"></button>
                </form>
            </div>
        </div>
        
        <script src='web/js/jquery-1.10.1.min.js'></script>
        <script type='text/javascript' src='web/js/sweet-alert.min.js'></script>
        <script>
            var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
            var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
            $('#container').css('height', h + 'px');
            
            $(function(e){
                $('form').submit(function(){
                    var name = $('#name').val();
                    if (name.length == 0) {
                        swal({
                            title: '请填写姓名',
                            confirmButtonColor: '#AC6A00',
                            text: '',
                            type: 'error'
                        });
                        return false;
                    }
                    var mobile = $('#phone').val();
                    if (mobile.length == 0) {
                        swal({
                            title: '请填写手机号码',
                            confirmButtonColor: '#AC6A00',
                            text: '',
                            type: 'error'
                        });
                        return false;
                    }
                    var pattern = /^1\d{10}/;
                    if (!pattern.test(mobile)) {
                        swal({
                            title: '请正确填写手机号码',
                            confirmButtonColor: '#AC6A00',
                            text: '',
                            type: 'error'
                        });
                        return false;
                    }
                    var addr = $('#addr').val();
                    if (addr.length == 0) {
                        swal({
                            title: '请填写地址',
                            confirmButtonColor: '#AC6A00',
                            text: '',
                            type: 'error'
                        });
                        return false;
                    }
                });
            });
        </script>
    </body>
</html>