<!DOCTYPE html>
<html lang='ch'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='init-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no'>
        <meta name='description' content='时光盛典'>
        <title>参与时光盛典</title>
        <style>
            html, body { padding: 0; }
            body { margin: 0 auto; max-width: 480px; font-family: '黑体'; }
            img { border: none; }
            ul, li { list-style-type: none; margin: 0; padding: 0; }
            a { text-decoration: none; color: #555; }
            a[href^='http://tongji.baidu.com'] { display: none; }
            #container { width: 100%; position: relative; }
            
            .unselectable {
                -webkit-touch-callout: none !important;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -o-user-select: none;
                user-select: none;
            }
            .participate {
                position: relative; width: 100%; height: 100%;
                background: transparent url('web/images/participate.jpg') no-repeat top center;
                background-size: cover;
            }
            .fingerprint { position: relative; display: block; margin: 0px auto; top: 448px; width: 130px; }
            .img-fingerprint { width: 130px; }
            @media all and (max-width: 320px) {
                .fingerprint { top: 386px; }
            }
            @media all and (max-height: 420px) {
                .participate { background-position: center -48px; }
                .fingerprint { top: 320px; }
            }
        </style>
    </head>
    <body>
        
        <div id='container'>
            <div class='participate unselectable'>
                <a class='fingerprint unselectable' href='javascript:;'>
                    <img class='img-fingerprint unselectable' src='web/images/theend/fingerprint.png' />
                </a>
            </div>
        </div>
        
        <script src='web/js/jquery-1.10.1.min.js'></script>
        <script src='web/js/jquery.finger.min.js'></script>
        <script src='web/js/velocity.min.js'></script>
        <script>
            var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
            var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
            $('#container').css('height', h + 'px');
            
            $(function(){
                $.Finger.pressDuration = 1000;
                $('body').on('press', '.fingerprint', function(e){
                    window.location.href = 'participated.php';
                    e.preventDefault();
                });
            })
            
            var lineLink = 'http://neone.com.cn/sntime';
            var imgUrl = 'http://kail-common.b0.upaiyun.com/xushare.jpg';
            var shareTitle = '时光盛典';
            var descContent = '敬请期待12月8日时光盛典正式开启！';
            var appid = '';

            function shareFriend() {
                WeixinJSBridge.invoke('sendAppMessage',{
                    "appid": appid,
                    "img_url": imgUrl,
                    "img_width": "80",
                    "img_height": "80",
                    "link": lineLink,
                    "desc": descContent,
                    "title": shareTitle
                }, function(res) {
                    //_report('send_msg', res.err_msg);
                })
            }
            function shareTimeline() {
                WeixinJSBridge.invoke('shareTimeline',{
                    "img_url": imgUrl,
                    "img_width": "80",
                    "img_height": "80",
                    "link": lineLink,
                    "desc": descContent,
                    "content": descContent,
                    "title": descContent
                }, function(res) {
                    //_report('timeline', res.err_msg);
                });
            }
            function shareWeibo() {
                WeixinJSBridge.invoke('shareWeibo',{
                    "img_url": imgUrl,
                    "img_width": "80",
                    "img_height": "80",
                    "content": descContent,
                    "title": shareTitle,
                    "url": lineLink,
                }, function(res) {
                    //_report('weibo', res.err_msg);
                });
            }
            // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
            document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
                // 发送给好友
                WeixinJSBridge.on('menu:share:appmessage', function(argv){
                    shareFriend();
                });
                // 分享到朋友圈
                WeixinJSBridge.on('menu:share:timeline', function(argv){
                    shareTimeline();
                });
                // 分享到微博
                WeixinJSBridge.on('menu:share:weibo', function(argv){
                    shareWeibo();
                });
            }, false);
        </script>
    </body>
</html>